<div class= "sectionDiv topicsList">
    <table>
        <tr>
            <th>Topic</th>
        </tr>
        <tr>
            <a href="/forum/aboutCancer"><td>About Cancer</td></a>
        </tr>
        <tr>
            <a href="/forum/treatment"><td>Treatment</td></a>
        </tr>
        <tr>
            <a href="/forum/support"><td>Support</td></a>
        </tr>
        <tr>
            <a href="/forum/advice"><td>Advice</td></a>
        </tr>
        <tr>
            <a href="/forumPL/hospitals"><td>Hospitals</td></a>
        </tr>
        <tr>
            <a href="/forum/casual"><td>Casual</td></a>
        </tr>
    </table>
</div>
<ul>
    <li *ngFor="let item of items | async">
        <h1>{{ item.name }}</h1>
        <h2>{{ item.flavour }}</h2>
    </li>
</ul>
<app-dbcom></app-dbcom>