.sectionDiv {
    margin-top : 5px;
    margin-left: 5px;
    padding : 10px;
    float : left;
    background-color: #fffffc;
    border-radius: 5px;
    width: 85%;
}

.contactList {
    /*display: inline-block;*/
    float: left;
    overflow-y: auto;
    white-space: nowrap;
    background-color: #e9e9e9;
    max-height: 800px;
    width: 20%;
    position: relative;
  }
  
  html { overflow-y: hidden; }
  
  .submitinput {
    float: right;
    width: 73%;
    height: 25px;
    position: fixed;
    bottom: 1%;
    left: 21%;
  }
  
  .submitbutton {
    height: 35px;
    position: fixed;
    float: right;
    padding-top: 3px;
    left: 95%;
    bottom: 1%;
  }
  
  .messages {
    overflow-y: auto;
    background-color: white;
    max-height: 800px;
  }
  
  .otherMessages {
    background-color: #3c70c4;
    border: 1px solid black;
    color: white;
    border-radius: 25px;
    float: left;
    max-width: 35%;
    word-wrap: break-word;
  }
  
  .myMessages {
    background-color: #3c70c4;
    border: 1px solid black;
    color: white;
    border-radius: 25px;
    float: right;
    max-width: 35%;
    word-wrap: break-word;
  }
  
.my{
    background-color: #3c70c4;
    border: 1px solid black;
    color: white;
    border-radius: 15px;
    float: right;
    max-width: 35%;
    word-wrap: break-word;
  }
  
.other {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    float: left;
    max-width: 35%;
    word-wrap: break-word;
  }
  #contactAvatars_ID {
    list-style-type: none;
  }
  
  td {
    max-width: 35%;
  }
  