.sectionDiv {
    margin-top : 5px;
    margin-left: 5px;
    padding : 10px;
    float : left;
    background-color: #fffffc;
    border-radius: 5px;
    width: 87.1%;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    background-color: #fffffc;
    table-layout: auto;
}

th {
    text-align: left;
}

tr:not(:first-child):hover {
    background-color: white; 
}