<div class="topnav">
        <img src="https://66.media.tumblr.com/ea9f603c8d555a57318bfa761e5185d7/tumblr_ph9pxyj8Vp1wj3509o1_1280.png" width=120/>
        <a class="active" routerLink='home'>Home</a>
        <a routerLink='profile'>Profile</a>
        <a routerLink='messenger'>Chats</a>
        <a routerLink='forum'>Forum</a>
        <a routerLink='games'>Games</a>
        <div style='float:right;'>
                <a href='#faq'>FAQ</a>
                <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="avatarSection">
        <img src="https://66.media.tumblr.com/67d30f6fe9abfd2a1acf7bbe3203633d/tumblr_ph9kpgAkFT1wj3509o1_1280.png" width=150/>
        <p>Child 1
        <br><img style="vertical-align: middle" src="https://66.media.tumblr.com/c10e9764881b9e1dd0786579bb5b3cb1/tumblr_ph9lcjLavw1wj3509o1_1280.png" width=20/> &emsp;45</p>
    </div>