.sectionDiv {
    margin-top : 5px;
    margin-left: 5px;
    padding : 10px;
    float : left;
    background-color: #e9e9e9;
    border-radius: 5px;
    width: 87.1%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

.container {
    padding: 2px 16px;
    background-color: white;
}