<div class="sectionDiv profile">
  <div class="compulsoryElements">
    <p>
      This is the user bio. They introduce themselves here for everyone to get to know them.
    </p>
      <table class="beadsTable">
        <tr>
          <td><img src="https://66.media.tumblr.com/3fd7e824d0503e58ccb65baa646718d9/tumblr_phatcnankN1wj3509o1_1280.png">
          9</td>
            <td><img src="https://66.media.tumblr.com/b75d30f9166213cffda089fa75443705/tumblr_phatcfpRdZ1wj3509o1_1280.png">
            7</td>
            <td><img src="https://66.media.tumblr.com/c408ffe79474ed613dbb5240637a6e3d/tumblr_phatagdJPa1wj3509o1_250.png">
            10</td>
            <td><img src="https://66.media.tumblr.com/2819f56eb9847fbedf65c36faa6147d2/tumblr_phatbfmkPm1wj3509o1_1280.png">
            6</td>
            <td><img src="https://66.media.tumblr.com/7a727db42aa6510116a144f9fe7d090e/tumblr_phatb6Hy2r1wj3509o1_1280.png">
            10</td>
            <td><img src="https://66.media.tumblr.com/2db04ae00c961d5f0ad366eb6e9d3d72/tumblr_phatc3UNJ31wj3509o1_1280.png">
            3</td>
            <td><img src="https://66.media.tumblr.com/4169c20a7706c9f0d909f7a006c864e9/tumblr_phatboJwpe1wj3509o1_640.png">
            0</td>
        </tr>
      </table>
  </div>
</div>
